[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chromedriver-binary = "*"
chromedriver-binary-auto = "*"
selenium = "*"
keyring = "*"
requests = "*"
pandas = "*"
python-dateutil = "*"
sqlalchemy = "*"
beautifulsoup4 = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.8"
